<p><%= t('hello') %> <%= @user.name %>,</p>

<p>
<%= t('user_mailer.account_activation.body') %>
</p>

<%= link_to t('activate'), edit_account_activation_url(@user.activation_token, email: @user.email) %>