<h1>Editing Spreadsheet</h1>

<%= render 'form', spreadsheet: @spreadsheet %>

<%= link_to 'Show', user_spreadsheet_path(@spreadsheet.user, @spreadsheet) %> |
<%= link_to 'Back', user_path(@spreadsheet.user) %>
