
<div class="spreadsheet">
  <%= render 'shared/error', errors: @spreadsheet.errors %>
  <div class="form-box">
    <div class="label">New Spreadsheet</div>
    <%= render 'form', spreadsheet: @spreadsheet %>
  </div>
</div>