<% if model.errors.any? %>
  <div class="errors" xmlns="http://www.w3.org/1999/html">
    <div class="error-wrapper">
      <span class="message"><%= t 'activerecord.errors.template.header',
        model: model.model_name.human, count: model.errors.count %></span>

      <ul>
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
