.errors {
  border: 0.125em solid red;
  border-radius: 0.25em;
  background-color: lightpink;
  padding: 0.5em;
  text-align: center;
  .error-wrapper {
    display: inline-block;
    text-align: start;
    .message {
      text-align: center;
    }
  }
}
