.flash {
  visibility: hidden;
  border: 0.125em solid;
  border-radius: 0.25em;
  padding: 0.5em;
  text-align: center;

  .alert {
    visibility: visible;
    border-color: red;
    background-color: lightpink;
  }

  .warning {
    visibility: visible;
    border-color: goldenrod;
    background-color: lightgoldenrodyellow;
  }

  .success {
    visibility: visible;
    border-color: seagreen;
    background-color: lightgreen;
  }
}
