@import 'defaults';

html, body {
  height: 100%;
}

body {
  background-color: $default-bg-color;
  width: 100vw;
  margin: 0px;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 16px;
  color: $default-font-color;
}

.wrapper {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  background-color: #FFF;
  border-top: 1em solid $default-bg-color;

  header {
    width: 100%;
    height: 5em;
    border-bottom: 1px solid $medium-sea-green;
    img {
      vertical-align: middle;
    }
    a {
      color: $default-font-color;
      text-decoration: none;
      font-weight: 500;
      padding: 1.8em 1em;

      &:hover {
        color: $medium-sea-green;
      }
    }
    .nav-bar {
      display: table;
      width: 100%;
      height: 100%;

      .logo, .links, .session {
        display: table-cell;
        vertical-align: middle;
        white-space: nowrap;
      }
      .logo {
        font-size: 2em;
        font-weight: 600;
        font-style: italic;
        padding: 0 2em;
        color: $medium-sea-green;
      }
      .session {
        text-align: right;
        width: 80%;
        .welcome {
          .user-name {
            padding: 0;
            font-style: italic;
          }
        }
      }

      .active {
        color: $medium-sea-green;
        border-bottom: 0.25em solid $medium-sea-green;
      }
    }
  }

  .wrapper-bar {
    height: 2em;
    background-color: $default-bg-color;
  }

  .container {
    color: $default-font-color;
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;
    min-height: 45em;

    .nav-menu {
      width: 20%;
      display: inline-block;
      box-sizing: border-box;

      li {
        border-right: 0.0625em solid $medium-sea-green;
      }

      .active {
        color: $medium-sea-green;
        font-style: italic;
        border-right: 0.25em solid $medium-sea-green;
      }
      .menu-item {
        display: block;
        padding: 4px;
        font-weight: 600;
        li {
          margin: 0;
        }
        a {
          text-decoration: none;
          color: inherit;
          &:hover {
            color: inherit;
          }
          &:visited {
            color: inherit;
          }
        }
      }
    }

    .view {
      width: 80%;
      display: inline-block;
      box-sizing: border-box;
      padding-left: 0.5em;
      vertical-align: top;

      .list {
        // text-align: center;
        // font-size: 1.25em;
        // font-style: italic;
        color: $default-font-color;
        ul {
          list-style: none;
          padding: 0 1em;
        }
        li {
          padding: 0.25em;
        }
        a {
          color: inherit;
          text-decoration: none;
          &:visited {
            color: inherit;
          }
          &:hover {
            color: $medium-sea-green;
          }
        }
      }
    }

    .button-bar {
      // padding: 0 0.5em;
      overflow: auto;
      margin: 1em 0;
    }
    .button-box {
      font-size: inherit;
      color: $medium-sea-green;
      float: right;
      margin: 0 0.5em;
      $padding: 0.5em;
      padding: $padding;
      border: 0.125em solid $medium-sea-green;
      border-radius: 0.5em;
      display: inline-block;
      text-decoration: none;
      background-color: white;
      &:hover {
        color: #FFF;
        background-color: $medium-sea-green;
        cursor: pointer;
      }
      i {
        padding-right: $padding;
      }
    }

    .form-box {
      box-shadow: 0 0 0.25em 0 #AAA;
      width: 20em;
      margin: 4em auto;
      border-radius: 0.25em;
      padding: 1em;

      .label {
        font-size: 2em;
        font-style: italic;
        font-weight: 700;
        text-align: center;
        color: $medium-sea-green;
        margin-bottom: 0.5em;
      }

      .field {
        position: relative;
        margin: 1em auto;
        width: 80%;

        .field_with_errors {
          display: block;
          background: none;

          input[type='text'], input[type='password'] {
            border: 1px solid red;
            box-shadow: 0 0 0.25em 0.125px red;
          }
        }
      }

      .forgot {
        padding-right: 0.125em;
        margin-top: -1em;
        font-size: 0.8em;
        overflow: hidden;
        color: $dark-purple;
        a {
          float: right;
          &:link, &:visited, &:hover, &:active {
            color: $dark-purple;
            text-decoration: none;
          }
          &:hover, &:active {
            font-style: italic;
            text-decoration: underline;
          }
        }
      }

      .input-icon {
        position: absolute;
        top: 50%;
        padding: 0 0.75em;
        color: #b7b7b7;
        color: #AAA;
      }

      input[type='text'], input[type='password'],
      input[type='number'], select {
        color: $medium-sea-green;
        margin: 0.25em 0;
        border: 0.125em solid #AAA;
        border-radius: 0.25em;
        padding: 0.5em;
        background-color: white;
        outline: none;
        box-sizing: border-box;
        width: 100%;
        &:focus {
          box-shadow: 0 0 0.25em 0.125px $medium-sea-green;
        }
      }
      input.offset-for-icon {
        padding-left: 2.5em;
      }
      input[type='submit'], button[type='submit'] {
        display: block;
        color: white;
        background-color: $medium-sea-green;
        margin: 0 auto;
        border: none;
        border-radius: 0.25em;
        padding: 0.5em 2em;;
        box-shadow: 0 0 0.25em 0.125px $medium-sea-green;
        &:hover {
          opacity: 0.9;
          cursor: pointer;
        }
        i {
          padding-right: 0.5em;
        }
      }
    }

    .mobile {
      display: table;
      margin: 0.5em auto;
      width: 45em;
      height: 28em;
      background-color: black;
      border-radius: 10px;
      .speaker {
        display: table-cell;
        vertical-align: middle;
        div {
          margin: 0 1em;
          background-color: gray;
          width: 0.25em;
          height: 4em;
          border-radius: 2px;
        }
      }
      .screen {
        display: table-cell;
        vertical-align: middle;
        width: 90%;
        height: 100%;
        div {
          margin: 50px 0;
          width: 100%;
          height: 90%;
          border-radius: 2px;
          background-color: white;
        }
      }
      .button {
        display: table-cell;
        vertical-align: middle;
        div {
          margin: 0 0.75em;
          $button-width: 2em;
          background-color: gray;
          width: $button-width;
          height: $button-width;
          border-radius: $button-width;
        }
      }
    }
  }
}

/// default scaffold
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

label {
  display: block;
}
