// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'defaults';

.page {
  .tab-bar {
    position: relative;
    width: 100%;
    height: 1.8em;
    border-bottom: $tab-border;
    .tab {
      position: absolute;
      width: 50%;
      border: 0.125em solid transparent;
      border-bottom: $tab-border;
      padding: 4px 8px;
      box-sizing: border-box;
      cursor: pointer;
    }
    .tab.active {
      border: $tab-border;
      border-bottom: 0.125em solid white;
      border-top-left-radius: 0.25em;
      border-top-right-radius: 0.25em;
    }
    .tab.page-mobile-tab {
      left: 50%;
    }
  }

  .item-lists {
    position: relative;
    width: 100%;

    .page-items-list, .page-mobile-view {
      display: none;
    }
    .active {
      display: block;
    }

    .page-items-list {
      padding: 0.5em;
      hr:last-child {
        display: none;
      }
      .sliced-page {
        overflow: hidden;
        margin: 0 auto;
      }
      .columns-3 {
        width: 30em;
      }
      .card.over {
        border: 0.125em dashed black;
      }
      .card {
        position: relative;
        float: left;
        text-align: center;
        box-sizing: border-box;
        border: 0.125em solid $medium-sea-green;
        border-radius: 0.25em;
        margin: 0.75em 0.5em 0.25em;
        // &:active {
        //   border-color: $light-orange;
        //   cursor: move;
        // }
        // &:active .remove {
        //   display: none
        // }
        .content {
          height: 100%;
        }
        .remove {
          font-size: 1em;
          line-height: 1.2;
          position: absolute;
          right: -0.5em;
          top: -0.75em;
          cursor: pointer;
          color: $dark-orange;
          padding: 0 (3em/16);
          border: 0.125em solid $dark-orange;
          border-radius: 1em;
          background-color: white;
          .hover {
            display: none;
          }
          &:focus {
            outline: none;
          }
          &:hover .default {
            display: none;
          }
          &:hover .hover {
            display: inline-block;
          }
        }
      }
      .card-3 {
        width: 9em;
        height: 12em;
        .name {
          padding: 0.5em;
          pointer-events: none;
        }
        .img-wrapper {
          padding-top: 0.5em;
          pointer-events: none;
          img {
            width: 90%;
          }
        }
      }
      .add-button {
        display: table-cell;
        width: 100%;
        height: 100%;
        font-size: 48px;
        color: inherit;
        background: none;
        border: none;
        &:hover {
          color: $medium-sea-green;
          cursor: pointer;
        }
        &:focus {
          outline: none;
        }
      }

    }
    .page-mobile-view { }
  }
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  .search-item {
    width: 950px;
    margin: 2em auto;
    // height: 90%;
    background-color: white;
    overflow: auto;
    .close {
      background: none;
      float: right;
      cursor: pointer;
      color: $dark-orange;
      border: none;
      font-size: 1.75em;
      margin: 0.5em;
      .hover {
        display: none;
      }
      &:hover .default {
        display: none;
      }
      &:hover .hover {
        display: inline-block;
      }
    }
    .item-result {
      overflow: auto;
      margin: 1em 8em;
      .item-result-img {
      float: left;
      width: 3em;
      width: 10em;
      height: 12em;
      margin-right: 2em;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
        img {
          margin-top: 2em;
          width: 80%;
          vertical-align: middle;
        }
      }
      .button-box {
        margin: 0;
        float: left;
      }
      .already {
        color: $medium-sea-green;
        font-style: italic;
      }
    }
  }
}
