// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'defaults';

.add-item-to-page-layer {
  z-index: 9999;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: ' ';
}
.search-item {
  width: 900px;
  margin: 2em auto;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 9999;
  position: absolute;
  .close {
    background: none;
    float: right;
    cursor: pointer;
    color: $dark-orange;
    border: none;
    font-size: 1.75em;
    margin: 0.5em;
    .hover {
      display: none;
    }
    &:hover .default {
      display: none;
    }
    &:hover .hover {
      display: inline-block;
    }
  }
  .item-result {
    overflow: auto;
    margin: 1em 8em;
    .item-result-img {
    float: left;
    width: 3em;
    width: 10em;
    height: 12em;
    margin-right: 2em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
      img {
        margin-top: 2em;
        width: 80%;
        vertical-align: middle;
      }
    }
    .button-box {
      margin: 0;
      float: left;
    }
  }
}

.page {
  .tab-bar {
    position: relative;
    width: 100%;
    height: 1.8em;
    border-bottom: $tab-border;
    .tab {
      position: absolute;
      width: 50%;
      border: 0.125em solid transparent;
      border-bottom: $tab-border;
      padding: 4px 8px;
      box-sizing: border-box;
      cursor: pointer;
    }
    .tab.active {
      border: $tab-border;
      border-bottom: 0.125em solid white;
      border-top-left-radius: 0.25em;
      border-top-right-radius: 0.25em;
    }
    .tab.page-mobile-tab {
      left: 50%;
    }
  }

  .item-lists {
    position: relative;
    width: 100%;

    .page-items-list, .page-mobile-view {
      display: none;
    }
    .active {
      display: block;
    }

    .page-items-list {
      // background-color: red;
      padding: 0.5em;
      text-align: center;
      font-size: 0;
      hr:last-child {
        display: none;
      }
      .item-place {
        font-size: $default-font-size;
        color: inherit;
        display: inline-block;
        box-sizing: border-box;
        border: 0.125em solid $medium-sea-green;
        border-radius: 0.125em;
        margin: 0.5em 0.5em;
        vertical-align: top;
      }
      .columns-3 {
        width: 20%;
        height: 192px;
      }
      .add {
        // font-size: 48px;
        color: inherit;
        background: none;
        border: none;
        // line-height: 185px;
        height: 100%;
        width: 100%;
        &:hover {
          color: $medium-sea-green;
          cursor: pointer;
        }
      }
      .card {
        height: 100%;
        .name {
          padding: 0.5em;
        }
        div {
          padding-top: 0.25em;
          img {
            width: 80%;
          }
        }
      }

    }
    .page-mobile-view { }
  }

  // .cards {
  //   margin: 0 auto;
  //   .card-list {
  //     padding: 0.5em 0;
  //     font-size: 0;
  //     // remove blank space between inline-block elements
  //     width: 100%;
  //     margin: 0.28%;
  //     // 7 spaces 6 cards = 100%
  //     .card {
  //       font-size: 16px;
  //       margin: 0.125em 0.28%;
  //       text-align: center;
  //       display: inline-block;
  //       width: 16%;
  //       height: 12em;
  //       vertical-align: top;
  //       border: 0.0625em solid black;
  //       border-radius: 0.125em;
  //       box-sizing: border-box;
  //       text-decoration: none;
  //       color: inherit;

  //       .name {
  //         padding: 0.25em;
  //       }
  //       img {
  //         margin-top: 1em;
  //         width: 90%;
  //       }
  //     }
  //   }
  // }
}
