// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'defaults';

.login {

  .login-error {
    visibility: hidden;
    border: 0.125em solid red;
    border-radius: 0.25em;
    background-color: lightpink;
    padding: 0.5em;
    text-align: center;
  }

  .visible {
    visibility: visible;
  }
}
