<%= render :partial => 'shared/flash'%>
<div id="home">
  <h3><%= raw t('views.home_app_title') %></h3>
  <p><%= raw t('views.about_app_text_p1') %></p>
  <p><%= raw t('views.home_login') %></p>
</div>
