<div class="user">
  <%= render 'shared/error', errors: @user.errors %>
  <div class="form-box">
    <div class="label"><%= t 'views.register' %></div>
    <%= render 'form', user: @user %>
  </div>
</div>
