<%= link_to user_item_path(item.user, item), class: ['card', css_class_name(item.category)] do %>
  <div class="name"><%= item.name %></div>
  <%= image_tag item.image, alt: t('views.item_image_not_found') %>
<% end %>
