<div class="cards">
  <div class="card-list">
    <% items.each do |item| %>
      <%= link_to item, class: ['card', css_class_name(item.category)] do %>
        <div class="name"><%= item.name %></div>
        <img src="<%= item.img_src %>"/>
      <% end %>
    <% end %>
  </div>
</div>

