<div class="list">
  <strong><%= Page.model_name.human(count: 2) %>:</strong>
  <ul>
  <% @pages.each do |page| %>
    <li><%= link_to page.name, user_spreadsheet_page_path(@user, @spreadsheet, page) %></li>
  <% end %>
  </ul>
</div>
