<div class="nav-menu">
  <ul>
    <%= content_tag :li, class: "menu-item #{:active if current_page?(user_spreadsheets_path(current_user))}" do %>
      <%= link_to 'Spreadsheets', user_spreadsheets_path(current_user) %>
    <% end %>
    <%= content_tag :li, class: "menu-item #{:active if current_page?(user_items_path(current_user))}" do %>
      <%= link_to 'Items', user_items_path(current_user) %>
    <% end %>
  </ul>
</div>
