<h1>Editing Page</h1>

<%= render 'form', page: @page %>

<%= link_to 'Show', user_spreadsheet_path(@page.spreadsheet.user, @page.spreadsheet) %> |
<%= link_to 'Back', user_spreadsheet_page_path(@page.spreadsheet.user, @page.spreadsheet, @page) %>
