$dark-purple: #591E58;
$light-purple: #7A2B7C;
$dark-sea-green: #11626B;
$medium-sea-green: #008383;
$dark-orange: #EF4E22;
$light-orange: #F68A1E;
$yellow: #FFD41B;
$dark-gray: #606060;
$light-gray: #AAAAAA;

$default-font-color: $dark-gray;
$default-font-size: 16px;
$default-bg-color: $dark-purple;

$tab-border: 0.125em solid $dark-sea-green;

$lightpink: #FFB6C1;
$goldenrod: #DAA520;
$lightgoldenrod: #FAFAD2;
$seagreen: #2E8B57;
$lightgreen: #90EE90;

$wrapper-width: 1000px;
