@import 'defaults';

.flash {
  border: 0.125em solid;
  border-radius: 0.25em;
  padding: 0.5em;
  text-align: center;
  visibility: hidden;

  &.alert {
    background-color: $lightpink;
    border-color: red;
    visibility: visible;
  }

  &.warning {
    background-color: $lightgoldenrod;
    border-color: $goldenrod;
    visibility: visible;
  }

  &.success {
    background-color: $lightgreen;
    border-color: $seagreen;
    visibility: visible;
  }
}
