// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about, #contact, #home {
  text-align: justify;
  padding: 0 16px;
}

#about {
  .partners-logos {
    margin: 2em auto;
    text-align: center;
    .partner-logo {
      vertical-align: middle;
      width: 250px;
      margin: 0 25px;
    }
  }
}
