// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'defaults';

.item {
  .item-title {
    font-size: 1.25em;
  }
  .item-lists {
    position: relative;
    .user-items-list {
      //float: left;
      display: none;
    }
  }
  .item-image {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  #item-image-container {
    text-align: center;
    #item-image-wrapper {
      display: none;
      width: 150px;
      height: 150px;
      max-width: 154px;
      max-height: 154px;
      overflow: hidden;
      border: 2px solid #AAA;
      border-radius: 4px;
      #item-image {
        width: 150px;
        height: 150px;
      }
    }
  }
  .card-list {
    padding: 0.5em 0;
    // remove blank space between inline-block elements
    font-size: 0;
    width: 100%;
    // 7 spaces 6 cards = 100%
    margin: 0.28%;
    .card {
      font-size: 16px;
      margin: 0.125em 0.28%;
      text-align: center;
      display: inline-block;
      width: 16%;
      height: 12em;
      vertical-align: top;
      border: 0.0625em solid black;
      border-radius: 0.125em;
      box-sizing: border-box;
      text-decoration: none;
      color: inherit;
      position: relative;
      .name {
        padding: 0.25em;
        max-height: 40px;
        overflow-y: hidden;
      }
      img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 8px;
        margin: 0 auto;
        width: 90%;
      }
    }
  }
  .page-card-list {
    padding: 0.5em 0;
    width: 100%;
    margin: 0.28%;
    .card {
      display: block;
      margin: 1em 0;
      text-align: center;
      width: 10em;
      height: 13em;
      vertical-align: top;
      border: 0.0625em solid black;
      border-radius: 0.125em;
      box-sizing: border-box;
      text-decoration: none;
      color: inherit;
      .name {
        padding: 0.25em;
      }
      img {
        margin-top: 1em;
        width: 90%;
      }
    }
  }
}
