// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'defaults';

.items {

  .items-list {
    font-size: 0;

    .items-list-item {
      border-radius: 4px;
      border: 2px solid $medium-sea-green;
      box-sizing: border-box;
      display: inline-block;
      font-size: $default-font-size;
      height: 180px;
      margin: 6px;
      position: relative;
      text-align: center;
      vertical-align: top;
      width: 142px;

      .items-list-item-menu {
        background-color: white;
        border-radius: 50%;
        border: 0 solid $dark-orange;
        box-sizing: border-box;
        color: $dark-orange;
        cursor: pointer;
        font-size: 0;
        height: 0;
        left: 4px;
        line-height: 1.5;
        position: absolute;
        top: 4px;
        transition: all 0.125s ;
        width: 0;

        &:hover {
          box-shadow: 0 0 4px;
        }

        &:hover .fa {
          font-weight: bold;
        }
      }

      &:hover .items-list-item-menu {
        border: 2px solid $dark-orange;
        font-size: 14px;
        height: 24px;
        left: -6px;
        top: -6px;
        width: 24px;
      }

      a, a:active, a:focus {
        outline: none;
      }

      .items-list-item-name {
        height: 20%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span::before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
      }

      .items-list-item-image {
        height: 80%;

        span::before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }

        img {
          vertical-align: middle;
          width: 80%;
        }
      }
    }
  }

  .item-image {
    height: 150px;
    max-height: 150px;
    max-width: 150px;
    width: 150px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  #item-image-container {
    text-align: center;

    #item-image-wrapper {
      border-radius: 4px;
      border: 2px solid #AAA;
      display: none;
      height: 150px;
      max-height: 154px;
      max-width: 154px;
      overflow: hidden;
      width: 150px;

      #item-image {
        height: 150px;
        width: 150px;
      }
    }
  }
}
