// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'defaults';

.pages {

  .tab-bar {
    height: 2em;
    position: relative;
    width: 100%;

    .tab {
      border-bottom: 0.125em solid $dark-sea-green;
      box-sizing: border-box;
      height: 100%;
      padding: 4px 8px;
      position: absolute;
      width: 50%;
    }

    .tab.active {
      border-left: 0.125em solid $dark-sea-green;
      border-right: 0.125em solid $dark-sea-green;
      border-top: 0.125em solid $dark-sea-green;
      border-bottom: none;
      border-top-left-radius: 0.25em;
      border-top-right-radius: 0.25em;
    }

    .tab.page-mobile-tab {
      left: 50%;
    }
  }

  .page-items {
    margin-top: 8px;

    .page-row {
      margin: 0 auto;
      width: 770px;

      .items-list-item-name, .items-list-item-image {
        pointer-events: none;
      }

      .over {
        border: 0.125em dashed black;
      }

      .items-list-item-menu-options {
        border: 1px solid grey;
        display: none;
        background-color: white;
        left: 12px;
        padding: 4px 0;
        position: absolute;
        top: 12px;
        white-space: nowrap;
        z-index: 1;

        .edit, .remove {
          display: block;
        }

        a {
          color: $default-font-color;
          padding: 0.25em 0.75em 0.25em 0.5em;
          text-align: left;
          text-decoration: none;

          &:hover.edit {
            color: $medium-sea-green;
          }

          &:hover.remove {
            color: $dark-orange;
          }

          i {
            padding-right: 8px;
          }
        }
      }

      .items-list-item-menu:hover > .items-list-item-menu-options {
        display: inline-block;


      }

      .link-to {
        position: absolute;
        right: 0.125em;
        top: 0.0625em;
      }
    }

    .page-row.columns-1 {
      width: 154px;
    }

    .page-row.columns-2 {
      width: 308px;
    }

    .page-row.columns-3 {
      width: 462px;
    }

    .page-row.columns-4 {
      width: 616px;
    }

    .page-row.columns-6 {
      width: 756px;

      .items-list-item {
        height: 148px;
        margin: 5px;
        width: 116px;
      }
    }

    .page-row.columns-7 {
      width: 756px;

      .items-list-item {
        height: 124px;
        margin: 5px;
        width: 98px;
      }
    }

    .page-row.columns-8 {
      width: 768px;

      .items-list-item {
        font-size: 12px;
        height: 110px;
        margin: 5px;
        width: 86px;
      }
    }

    .page-row.columns-9 {
      width: 765px;

      .items-list-item {
        font-size: 12px;
        height: 95px;
        margin: 5px;
        width: 75px;
      }
    }

    .page-row.columns-10 {
      width: 770px;

      .items-list-item {
        font-size: 12px;
        height: 85px;
        margin: 5px;
        width: 67px;
      }
    }

    .add-item-page {
      display: inline-block;
    }

    .add-button {
      background-color: white;
      color: $dark-gray;
      font-size: 48px;
      padding: 0;

      &:hover {
        color: $medium-sea-green;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }

    hr:last-child {
      display: none;
    }
  }
}

.overlay {
  z-index: 3;

  .edit-item, #search-items-result {

    .form-box {
      width: 35em;
    }
  }

  .search-item {

    .form-box {
      width: 25em;

      #search-items {
        text-align: left;
      }
    }
  }

  .edit-item, .search-item, .item-result,
  .export-page, .import,
  .export-spreadsheet {
    background-color: white;
    margin: 2em auto;
    overflow: auto;
    position: relative;
    width: 950px;

    .form-box {
      text-align: center;

      #import {
        text-align: left;
      }

      .fields, .items {
        display: inline-block;
        text-align: left;
        vertical-align: middle;

        .link-to {
          position: absolute;
          right: 0.125em;
          top: 0.0625em;
        }
      }

      .fields {
        width: 20em;
      }

      .items-list-item {
        height: 208px;
        width: 164px;

        .items-list-item-menu {
          display: none;
        }
      }
    }

    .item-title, .export-title, .import-title {
      color: $medium-sea-green;
      font-size: 1.5em;
      font-style: italic;
      font-weight: 700;
      text-align: center;
    }

    .close {
      background: none;
      border: none;
      color: $dark-orange;
      cursor: pointer;
      font-size: 1.75em;
      margin: 0.5em;
      position: absolute;
      right: 0;

      .hover {
        display: none;
      }

      &:hover .default {
        display: none;
      }

      &:hover .hover {
        display: inline-block;
      }
    }

    button[type="submit"][disabled],
    button[type="submit"][disabled]:hover {
      cursor: not-allowed;
      opacity: 0.75;
    }

    #search-items-result .private {

      input[type="text"] {
        border: none;
        font-size: 14px;
        padding: 0.5em 0;
      }
    }

    .no-items-found {
      color: $dark-orange;
      font-style: italic;
      text-align: center;
    }

    .paginate {
      text-align: center;
      margin: 16px 16px 32px;

      * {
        margin: 0 1px;
      }

      .current {
        color: $dark-orange;
      }

      .gap {
        color: $medium-sea-green;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
