// Place all the styles related to the Spreadsheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'defaults';

.spreadsheet {

  .no-initial-page, .no-file-selected {
    color: $dark-orange;
    font-style: italic;
  }

  #import-spreadsheet, #import-page {
    text-align: left;
  }

  input[type=submit]:disabled {
    background-color: $light-gray;
    box-shadow: 0 0 0.25em 0.125px $light-gray;
  }

  input[type=submit]:hover {
    opacity: 1;
  }
}
