// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'defaults';

.user {
  .user-photo {
    float: left;
    margin-right: 20px;
    width: 150px;
    height: 180px;
    max-width: 150px;
    max-height: 180px;
    border: 2px solid $dark-sea-green;
    border-radius: 4px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  #user-photo-container {
    text-align: center;
    img {
      max-width: 150px;
      max-height: 180px;
      border: 2px solid #AAA;
      border-radius: 4px;
    }
  }
  .form-box {
    width: 30em !important;

    .edit-sensitive-data {
      color: $light-gray;
      font-style: italic;
      text-align: right;
      margin: 2.5em auto 0;
      width: 80%;
      label {
        display: inline;
      }
      input {
        vertical-align: middle;
      }
    }
    .sensitive-data {
      color: $light-gray;
    }

    input[type="text"][disabled="disabled"],
    input[type="password"][disabled="disabled"] {
      color: $light-gray;
    }
  }
}
