// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'defaults';

.user {

  .user-photo {
    border-radius: 4px;
    border: 2px solid $dark-sea-green;
    float: left;
    height: 180px;
    margin-right: 20px;
    max-height: 180px;
    max-width: 150px;
    width: 150px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  #user-photo-container {
    text-align: center;

    #user-photo-wrapper {
      border-radius: 4px;
      border: 2px solid #AAA;
      display: inline-block;
      height: 180px;
      max-height: 184px;
      max-width: 154px;
      overflow: hidden;
      width: 150px;

      #user-photo {
        height: 180px;
        width: 150px;
      }
    }
  }
}
